<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit car</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/car/{id}(id=${car.getId()})}" th:object="${car}">
  <label for="company">Enter company: </label>
  <input type="text" th:field="*{company}" id="company"/>
  <br/>
  <label for="model">Enter company: </label>
  <input type="text" th:field="*{model}" id="model"/>
  <br/>
  <label for="year">Enter year: </label>
  <input type="text" th:field="*{year}" id="year"/>
  <br/>
  <label for="owner_id">Enter owner id: </label>
  <input type="text" th:field="*{ownerId}" id="ownerId"/>
  <br/>
  <input type="submit" value="Update!"/>
</form>
</body>
</html>