<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information about owner</title>
</head>
<body>
<label >Id: </label>
<a th:text="${owner.getId()}">VALUE</a>
<br/>
<label >Name: </label>
<a th:text="${owner.getName()}">VALUE</a>
<br/>
<label >Age: </label>
<a th:text="${owner.getAge()}">VALUE</a>
<br/>
<label >Email: </label>
<a th:text="${owner.getEmail()}">VALUE</a>
<br/>

<hr/>
<form th:method="GET" th:action="@{/owner/{id}/edit(id=${owner.getId()})}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/owner/{id}(id=${owner.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<a th:href="@{/owner}">Return back</a>

</body>
</html>